<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chandler.red.mystock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.chandler.red.mystock.App"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.StartingWindowTheme">
        <activity
            android:name="com.chandler.red.mystock.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name="com.chandler.red.mystock.StockImgActivity" />
        <activity
            android:name="com.chandler.red.mystock.SerachActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/search"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.chandler.red.mystock.activity.Main2Activity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="orientation|keyboardHidden"
                    android:label="@string/app_name"
                    android:windowSoftInputMode="adjustUnspecified|stateHidden" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chandler.red.mystock.activity.ExchangeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/exchange"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.chandler.red.mystock.activity.BuySearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/search"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.chandler.red.mystock.activity.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name="com.chandler.red.mystock.activity.RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name="com.chandler.red.mystock.activity.ForgetPwdActivity"
            android:label="@string/forget_pwd" />
        <activity
            android:name="com.chandler.red.mystock.activity.ImageShowActivity"
            android:theme="@style/transparent" />
        <activity
            android:name="com.chandler.red.mystock.activity.MyInfoActivity"
            android:label="@string/my_info" />
        <activity
            android:name="com.chandler.red.mystock.activity.PhotoSelectActivity"
            android:label="@string/photo_select" />
        <activity
            android:name="com.chandler.red.mystock.imageloader.ImagePickActivity"
            android:label="@string/photo_select"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.chandler.red.mystock.activity.SearchImagesActivity"
            android:label="@string/photo_search"
            android:theme="@style/AppTheme.ActivityTheme" />
        <activity android:name="com.chandler.red.mystock.activity.FullScreenActivity"></activity>
    </application>

</manifest>